
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Perfect Voice</title>
{% endblock %}
{% block css %}
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/css/style.css">
{% endblock %}
{% block body %}

    <!-- Fin navbar -->
    <a href="/Mesvoix/{{ session.id_uti }}">Refresh</a>

    {% if matchs['0'] is defined  %}
        {% for match in matchs %}
            <h1>{{ match.othiduti }}</h1>
        {% endfor %}
    {% else %}
        <h1>Vous n'aimez personne</h1>
    {% endif %}
{% endblock %}