<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Perfect Voice</title>
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Barre Menu -->
  <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light d-flex sticky">
    <a class="navbar-brand mr-auto" href="#"><img src="images/logotexte.png" width="200px" alt="Logo Perfect Voice"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Français</a>
            <a class="dropdown-item" href="#">Anglais</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">Benoit Berrenger</h4>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Mon compte</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-light font-italic bg-danger">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Mes voix
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light font-italic bg-danger">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                Mon profil
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light font-italic bg-danger">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Mes voix
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light font-italic bg-danger">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Rechercher
            </a>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Autres</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                A propos
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                Contacts
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                Paramètres
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                Se déconnecter 
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->


  <div style="background:url(images/fond.jpg) no-repeat scroll 0 0 / 100% auto;">
  
    <!-- Recherche -->
    <br/><br/><br/><br/><br/><br/><br/>
    <section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
    <div class="container py-5 my-5">
        <div class="row text-center pb-4">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
          <h2 id="recherchevoix">Quelle voix cherches-tu ?</h2>
            <div class="col-md-12">
                <div class="card acik-renk-form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="iller" class="form-control" >
                                        <option selected>Timbre de la voix</option>
                                        <option>Très aïgue</option>
                                        <option>Aïgue</option>
                                        <option>Moyenne</option>
                                        <option>Grave</option>
                                        <option>Très grave</option>
                                        <option>Peut importe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="ilceler" class="form-control" >
                                        <option selected>Accent</option>
                                        <option>Du Sud</option>
                                        <option>Du Nord</option>
                                        <option>Québéquois</option>
                                        <option>Chti</option>
                                        <option>Parisien</option>
                                        <option>Sans</option>
                                        <option>Peut importe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="arac-turu" class="form-control" >
                                        <option selected>Autres options</option>
                                        <option>Suave</option>
                                        <option>Douce</option>
                                        <option>Rauque</option>
                                        <option>Cristalline</option>
                                        <option>Basse</option>
                                        <option>Sans option</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <p class="font-weight-light text-dark"></p>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger pl-5 pr-5 findsearch">Trouver ma voix</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/><br/>

  </div>
    <!-- Barre séparation -->
  <div id=lignerouge></div>
<script>
  // When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("nav");

  // Get the offset position of the navbar
  var sticky = navbar.offsetTop;

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  } 

  // When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("sidebar");

  // Get the offset position of the navbar
  var sticky = navbar.offsetTop;

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  } 
</script>
</body>
</html>