<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="s010">
    <form>
        <div class="inner-form">
            <div class="basic-search">
                <div class="input-field">
                    <input id="search" type="text" placeholder="Type Keywords">
                    <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="advance-search">
                <span class="desc">ADVANCED SEARCH</span>
                <div class="row">
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true" aria-expanded="false" dir="ltr" aria-activedescendant="choices-choices-single-defaul-hl-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul" class="choices__input is-hidden" tabindex="-1" style="display:none;" aria-hidden="true" data-choice="active"><option value="" selected="">Accessories</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable choices__placeholder" data-item="" data-id="1" data-value="" data-deletable="" aria-selected="true">
                                            Accessories<!--
           --><button type="button" class="choices__button" data-button="" aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox"><div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted" data-select-text="" data-choice="" data-id="1" data-value="" data-choice-selectable="" id="choices-choices-single-defaul-hl-item-choice-1" role="option" aria-selected="true">
                                            Accessories
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="2" data-value="Subject b" data-choice-selectable="" id="choices-choices-single-defaul-hl-item-choice-2" role="option">
                                            Subject b
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="3" data-value="Subject c" data-choice-selectable="" id="choices-choices-single-defaul-hl-item-choice-3" role="option">
                                            Subject c
                                        </div></div></div></div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true" aria-expanded="false" dir="ltr" aria-activedescendant="choices-choices-single-defaul-uo-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul" class="choices__input is-hidden" tabindex="-1" style="display:none;" aria-hidden="true" data-choice="active"><option value="" selected="">Color</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable choices__placeholder" data-item="" data-id="1" data-value="" data-deletable="" aria-selected="true">
                                            Color<!--
           --><button type="button" class="choices__button" data-button="" aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox"><div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted" data-select-text="" data-choice="" data-id="1" data-value="" data-choice-selectable="" id="choices-choices-single-defaul-uo-item-choice-1" role="option" aria-selected="true">
                                            Color
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="2" data-value="Subject b" data-choice-selectable="" id="choices-choices-single-defaul-uo-item-choice-2" role="option">
                                            Subject b
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="3" data-value="Subject c" data-choice-selectable="" id="choices-choices-single-defaul-uo-item-choice-3" role="option">
                                            Subject c
                                        </div></div></div></div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true" aria-expanded="false" dir="ltr" aria-activedescendant="choices-choices-single-defaul-pz-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul" class="choices__input is-hidden" tabindex="-1" style="display:none;" aria-hidden="true" data-choice="active"><option value="" selected="">Size</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable choices__placeholder" data-item="" data-id="1" data-value="" data-deletable="" aria-selected="true">
                                            Size<!--
           --><button type="button" class="choices__button" data-button="" aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox"><div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted" data-select-text="" data-choice="" data-id="1" data-value="" data-choice-selectable="" id="choices-choices-single-defaul-pz-item-choice-1" role="option" aria-selected="true">
                                            Size
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="2" data-value="Subject b" data-choice-selectable="" id="choices-choices-single-defaul-pz-item-choice-2" role="option">
                                            Subject b
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="3" data-value="Subject c" data-choice-selectable="" id="choices-choices-single-defaul-pz-item-choice-3" role="option">
                                            Subject c
                                        </div></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true" aria-expanded="false" dir="ltr" aria-activedescendant="choices-choices-single-defaul-6e-item-choice-1">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul" class="choices__input is-hidden" tabindex="-1" style="display:none;" aria-hidden="true" data-choice="active"><option value="" selected="">Sale</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable choices__placeholder" data-item="" data-id="1" data-value="" data-deletable="" aria-selected="true">
                                            Sale<!--
           --><button type="button" class="choices__button" data-button="" aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox"><div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted" data-select-text="" data-choice="" data-id="1" data-value="" data-choice-selectable="" id="choices-choices-single-defaul-6e-item-choice-1" role="option" aria-selected="true">
                                            Sale
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="2" data-value="Subject b" data-choice-selectable="" id="choices-choices-single-defaul-6e-item-choice-2" role="option">
                                            Subject b
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="3" data-value="Subject c" data-choice-selectable="" id="choices-choices-single-defaul-6e-item-choice-3" role="option">
                                            Subject c
                                        </div></div></div></div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true" aria-expanded="false" dir="ltr" aria-activedescendant="choices-choices-single-defaul-fn-item-choice-5">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul" class="choices__input is-hidden" tabindex="-1" style="display:none;" aria-hidden="true" data-choice="active"><option value="" selected="">Time</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable choices__placeholder" data-item="" data-id="1" data-value="" data-deletable="" aria-selected="true">
                                            Time<!--
           --><button type="button" class="choices__button" data-button="" aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox"><div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted" data-select-text="" data-choice="" data-id="5" data-value="" data-choice-selectable="" id="choices-choices-single-defaul-fn-item-choice-5" role="option" aria-selected="true">
                                            Time
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="1" data-value="Last time" data-choice-selectable="" id="choices-choices-single-defaul-fn-item-choice-1" role="option">
                                            Last time
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="2" data-value="This month" data-choice-selectable="" id="choices-choices-single-defaul-fn-item-choice-2" role="option">
                                            This month
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="3" data-value="This week" data-choice-selectable="" id="choices-choices-single-defaul-fn-item-choice-3" role="option">
                                            This week
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="4" data-value="This year" data-choice-selectable="" id="choices-choices-single-defaul-fn-item-choice-4" role="option">
                                            This year
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="6" data-value="Today" data-choice-selectable="" id="choices-choices-single-defaul-fn-item-choice-6" role="option">
                                            Today
                                        </div></div></div></div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="choices" role="listbox" data-type="select-one" tabindex="0" aria-haspopup="true" aria-expanded="false" dir="ltr" aria-activedescendant="choices-choices-single-defaul-aa-item-choice-3">
                                <div class="choices__inner"><select data-trigger="" name="choices-single-defaul" class="choices__input is-hidden" tabindex="-1" style="display:none;" aria-hidden="true" data-choice="active"><option value="" selected="">Type</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable choices__placeholder" data-item="" data-id="1" data-value="" data-deletable="" aria-selected="true">
                                            Type<!--
           --><button type="button" class="choices__button" data-button="" aria-label="Remove item: ''">
                                                Remove item
                                            </button>
                                        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox"><div class="choices__item choices__item--choice choices__item--selectable choices__placeholder is-highlighted" data-select-text="" data-choice="" data-id="3" data-value="" data-choice-selectable="" id="choices-choices-single-defaul-aa-item-choice-3" role="option" aria-selected="true">
                                            Type
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="1" data-value="Subject b" data-choice-selectable="" id="choices-choices-single-defaul-aa-item-choice-1" role="option">
                                            Subject b
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="" data-choice="" data-id="2" data-value="Subject c" data-choice-selectable="" id="choices-choices-single-defaul-aa-item-choice-2" role="option">
                                            Subject c
                                        </div></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <div class="result-count">
                            <span>108 </span>results</div>
                        <div class="group-btn">
                            <button class="btn-delete" id="delete">RESET</button>
                            <button class="btn-search">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="js/extention/choices.js"></script>
<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select',
        {
            searchEnabled: false,
            itemSelectText: '',
            removeItemButton: true,
        });
    for (let i = 0; i < customSelects.length; i++)
    {
        customSelects[i].addEventListener('addItem', function(event)
        {
            if (event.detail.value)
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('valid')
                parent.classList.remove('invalid')
            }
            else
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('invalid')
                parent.classList.remove('valid')
            }
        }, false);
    }
    deleteBtn.addEventListener("click", function(e)
    {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
            deleteAll[i].click();
        }
    });

</script>


</body></html>