body {
	margin: 0;
}

.link:link:hover {
 	text-decoration: none;
}

.link:link {
	text-decoration: none;
}

/* Barre */
#barre {
	display:flex; 
	border:0px; 
	height:80px; 
	align-items:center;
	background-color:#E6EAED;
	align-self: flex-end;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 80px;
}

.menu {
	display:flex;
	align-items:center; 
	font-size:18px;
	font-family: "Lato";
	color: black;
	justify-content:right;
	margin:30px;
	font-weight: 100;
}

.menu:hover {
	display:flex; 
	font-size:18px;
	font-family: "Lato";
	justify-content:right;
	color: #800400;
	margin:30px;
}

#logo {
	justify-content:left; 
}