{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Contactez nous {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        <form method="post" action="/Contact/sendMail">
            <input type="text" name="nom">
            <input type="email" name="email">
            <textarea name="content"></textarea>
            <input type="submit">
        </form>
    </div>

{% endblock %}