{% block head %}
    {% block title %}{{ parent() }} - Connectez vous {% endblock %}


    {% block css %}
        <link rel="stylesheet" href="/assets/css/login.css">
        <link rel="stylesheet" href="/assets/css/header.css">
    {% endblock %}
{% endblock %}
{% block body %}


    <form method="post" action="/Login">
        <input name="email" type="email"  placeholder="Email"/>
        <input name="password" type="password" placeholder="Mot de passe"/>
        <input type='hidden' name ="token" value ="{{token}}">
        <button type="submit" class="btn btn-secondary">Connexion</button>
    </form>



{% endblock %}